@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap");

.navcont {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  z-index: 89;
  background: rgba(0, 0, 0, 0.7);
}
.mainnav {
  background: #ffffff;

  width: 100%;
  padding: 0 16px;
  padding-top: 50px;
  padding-bottom: 30px;
  animation: popup 0.4s;   
}

@keyframes popup {
  0%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.mainnav h6, .mainnav p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.mainnav > img {
  width: 30px;
  height: 30px;
}

.btn {
  background: #00123b;
  font-family: "Roboto";
  border-radius: 5px;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  width: 100%;
  padding: 13px 46px;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
.close {
  width: 35px;
  height: 35px;
  cursor: pointer;
  align-self: flex-end;
  margin-right: -5px;
  margin-bottom: 40px;
  border: 1px solid #757575;
  border-radius: 50%;
}

@keyframes appear {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}